{% extends 'monitorBase.html' %} {% block titulo %}MONITORIZAR SERVIDORES{% endblock %} {% block contenido %}
<header class="jumbotron container col-sm-12" style="background-color: black;"></header>
<div class="container col-sm-12 text-center">
    <img src='/static/imgs/usuario.png' class="img-circle rounded mx-auto d-block" alt="Usuario" style="width:8%">
</div>

<h3 class="text-center col-sm-12"><b>HOLA {{ usuario }} ! INGRESA TU TOKEN </b></h3>
<div class="text-center col-sm-12">{% if errores %}
    <div class="alert alert-danger container col-sm-12"><strong>ERROR! </strong>{{ errores }}</div> {% endif %}
</div>
<div class="text-center col-sm-4"></div>
<form class="col-sm-4 container" method="POST" action="/paginaInicioUser/">
    {% csrf_token %}

    <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="token" type="text" class="form-control" name="token" placeholder="TOKEN">

        <input id="usuario" type="hidden" name="usuario" value="{{ usuario }}" >

    </div>

    <div class="input-group text-center col-sm-12"><input type="submit" class="btn btn-default" style="background-color: DimGray ; color: white;" value="LOGIN"> </div class="text-center">

</form>
<div class="text-center col-sm-4"></div>

{% endblock %} {% block pie %}MONITORIZAR SERVIDORES{% endblock %}