/event.MAD
/event.MAI
/event.frm
/func.MAD
/func.MAI
/func.frm
/general_log.CSM
/general_log.CSV
/general_log.frm
/global_priv.MAD
/global_priv.MAI
/global_priv.frm
/gtid_slave_pos.frm
/gtid_slave_pos.ibd
/help_category.MAD
/help_category.MAI
/help_category.frm
/help_keyword.MAD
/help_keyword.MAI
/help_keyword.frm
/help_relation.MAD
/help_relation.MAI
/help_relation.frm
/help_topic.MAD
/help_topic.MAI
/help_topic.frm
/index_stats.MAD
/index_stats.MAI
/index_stats.frm
/innodb_index_stats.frm
/innodb_index_stats.ibd
/innodb_table_stats.frm
/innodb_table_stats.ibd
/plugin.MAD
/plugin.MAI
/plugin.frm
/proc.MAD
/proc.MAI
/proc.frm
/procs_priv.MAD
/procs_priv.MAI
/procs_priv.frm
/proxies_priv.MAD
/proxies_priv.MAI
/proxies_priv.frm
/roles_mapping.MAD
/roles_mapping.MAI
/roles_mapping.frm
/servers.MAD
/servers.MAI
/servers.frm
/slow_log.CSM
/slow_log.CSV
/slow_log.frm
/table_stats.MAD
/table_stats.MAI
/table_stats.frm
/tables_priv.MAD
/tables_priv.MAI
/tables_priv.frm
/time_zone.MAD
/time_zone.MAI
/time_zone.frm
/time_zone_leap_second.MAD
/time_zone_leap_second.MAI
/time_zone_leap_second.frm
/time_zone_name.MAD
/time_zone_name.MAI
/time_zone_name.frm
/time_zone_transition.MAD
/time_zone_transition.MAI
/time_zone_transition.frm
/time_zone_transition_type.MAD
/time_zone_transition_type.MAI
/time_zone_transition_type.frm
/transaction_registry.frm
/transaction_registry.ibd
*.frm
/column_stats.MAD
/column_stats.MAI
/columns_priv.MAD
/columns_priv.MAI
/db.MAD
/db.MAI
/db.opt
