.input-group {
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 20px
}

.row {
    padding-top: 20px;
    padding-bottom: 50px;
}

.estado {
    color: white;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
  }

.bg-2 { 
  background-color: black;
  color: white;
  margin: 40px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}
  
.button:hover span {
   padding-right: 25px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

#datos_server {
    padding: 60px 50px;
}