{% extends 'monitorBase.html' %} {% block titulo %}MONITORIZAR SERVIDORES{% endblock %} {% block contenido %}
<!--<header class="jumbotron container col-sm-12" style="background-color: black;"></header>-->
{% block script %}<script src="/static/js/mainAdmin.js"></script>{% endblock %}
{% include 'barraNav.html' %}
<div class="container-fluid">
    <div class="text-center">
        <h2>Administradores Registrados</h2>
    </div>
    <div class="col-sm-1"></div>
    <div class="row lista">
        {% for usuario in usuarios %}
        <div class="col-sm-4">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h4><b>Nombre Administrador:</b></h4>
                    <h4>{{ usuario.usuario }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}