{% extends 'monitorBase.html' %} {% block titulo %}MONITORIZAR SERVIDORES{% endblock %} {% block contenido %}
<!--<header class="jumbotron container col-sm-12" style="background-color: black;"></header>-->
{% block script %}<script src="/static/js/mainUser.js"></script>{% endblock %}
{% include 'barraNavUser.html' %}
<!--<div class="container-fluid">
    <div class="text-center">
        <h2>Datos del Servidor</h2>
        <h2>{{ ip }}</h2>
        <h2>{{ memoria }}% de uso memoria</h2>
        <h2>{{ cpu }}% de uso de cpu</h2>
        <h2>{{ disco }}% de uso de disco</h2>
    </div>
</div>-->
<div class="container-fluid" id="datos_server">
    <div class="text-center">
      <h2>Datos del servidor</h2>
      <h4>{{ ip }}</h4>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Memoria</h1>
          </div>
          <div class="panel-body">
            <p><strong>{{ memoria }}% </strong>de uso memoria</p>
          </div> 
        </div>      
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>CPU</h1>
          </div>
          <div class="panel-body">
            <p><strong>{{ cpu }}% </strong>de uso de cpu</p>
          </div> 
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>Disco</h1>
          </div>
          <div class="panel-body">
            <p><strong>{{ disco }}% </strong>de uso de disco</p>
          </div> 
        </div>      
      </div>    
    </div>
  </div>
{% endblock %}